---
import { Page } from "layouts"
import { Text } from "components"
import { PATHS } from "data"
---

<Page title="404">
	<Text tag="h1">This page does not exist!</Text>

	<Text>
		<a href={PATHS.ROOT}>Go back to homepage</a>
	</Text>
</Page>
