---
import { Page } from "layouts"
import { Text } from "components"
import { getAllUsers } from "lib"
import { COMMON_TEXTS, PATHS } from "data"

const users = await getAllUsers()

if (!users) {
	throw new Error(COMMON_TEXTS.ERRORS.SEARCH_RESULTS_EMPTY)
}
---

<Page title="Users">
	<Text tag="h1">All users</Text>

	{
		users?.map(user => (
			<Text>
				<a href={PATHS.USER(user._id.toHexString())}>
					{user.fullName}, {user.email}
				</a>
			</Text>
		))
	}
</Page>
